<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module:</string>
			<key>Description</key>
			<string>The name of the UseCase</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>CleanModule</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>I___VARIABLE_productName:identifier___UseCase</string>
			<key>Identifier</key>
			<string>useCaseInterface</string>
			<key>Description</key>
			<string>The name of the usecase interface</string>
			<key>Name</key>
			<string>Usecase Interface name:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___UseCaseImpl</string>
			<key>Identifier</key>
			<string>useCaseImplementation</string>
			<key>Description</key>
			<string>The name of the usecase implementation</string>
			<key>Name</key>
			<string>Usecase implementation:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
